@font-face {
  font-family: "Glyph World AirLand";
  src: url("../fonts/GlyphWorld-AirLand.otf");
}
@font-face {
  font-family: "GlyphWorld1";
  src: url("../fonts/GlyphWorld-AnimalSoul.otf");
}
@font-face {
  font-family: "GlyphWorld2";
  src: url("../fonts/GlyphWorld-Desert.otf");
}
@font-face {
  font-family: "GlyphWorld3";
  src: url("../fonts/GlyphWorld-Flower.otf");
}
@font-face {
  font-family: "GlyphWorld4";
  src: url("../fonts/GlyphWorld-Forest.otf");
}
@font-face {
  font-family: "GlyphWorld5";
  src: url("../fonts/GlyphWorld-Glacier.otf");
}
@font-face {
  font-family: "GlyphWorld6";
  src: url("../fonts/GlyphWorld-Meadow.otf");
}
@font-face {
  font-family: "GlyphWorld7";
  src: url("../fonts/GlyphWorld-Mountain.otf");
}
@font-face {
  font-family: "GlyphWorld8";
  src: url("../fonts/GlyphWorld-WasteLand.otf");
}
@font-face {
  font-family: "Khmer";
  src: url("../fonts/Khmer.ttf");
}






// hides scrollbar    
html::-webkit-scrollbar {
  display: none;
}

//border-box EVERYTHING
html {
  box-sizing: border-box;
  background: #fffdfd;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: "Glyph World AirLand", "Helvetica", sans-serif;
    font-size: 5.5vh;
    hyphens: none;

    //airland doesn't have an @ glyph so i use this random font i found that with the noto @
    .missing-glyph {
      font-family: "Khmer", sans-serif;
    }

    overflow-x: hidden;
    user-select: none;

    a {
      color: inherit;
      text-decoration: none;
    }
    p {
      margin-block-start: 0px;
      margin-block-end: 1.6vw;
    }
}






//landing page

$passepartout: 5vw;   

.landing-wrapper {
  padding: $passepartout;
  display: flex;
  justify-content: space-between;  
  .landing-text {
    width: 50vw;
  }
  .links {
    text-align: right;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      pointer-events: none;
      z-index: -1;  
    }
    p {
      z-index: 100;
      //margin-block-end: 1.5vw;
    }
    .projects {
      margin-bottom: 4vw;
      .preview {
        p {
          margin-block-end: 0px;
        }  
      }
    }
    .galleries {
      .preview {
        p {
          margin-block-end: 0px;
        }
      }
    }
  }
  .legal-text {
    font-size: 3.2vh;
  }
}

.footer {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.5vh;
  text-align: right;
  position: absolute;
  right: $passepartout;
  bottom: $passepartout;
  .copyright {
    p {
      margin-block-end: 0px;
    }
  }

}






//projects

$mediawidth: 35vw;

.project-wrapper {
  padding: $passepartout;
  display: flex;
  justify-content: space-between;  

  .project-media {
    display: flex;
    flex-direction: column;
    width: $mediawidth;
    .item {
      margin-bottom: $passepartout;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
    //hack to make video thumbnails 16 by 9
    .video-container {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%; /* Change this till it fits the dimensions of your video */
      position: relative;
      iframe {
        background: #EEE;
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        border: none;
      }
    }
  }
  .project-description {
    //bugged :(
    //width: calc(100vw - (#{$mediawidth} - (#{$passepartout}*3)));
    width: 50vw;
    position: fixed;
    right: $passepartout;
    p {
      font-size: 3.5vh;
    }
  }
}

.close {
  position: fixed;
  right: 2vw;
  top: 1.2vw;
}





//gallery

.gallery-wrapper {
  padding: $passepartout;
  .images {
    display: flex;
    overflow: auto;
    height: calc(100vh - 10vw);
    margin-left: 0px;
    scrollbar-width: none;

    .item {
      display: flex;
      flex-direction: column;
      height: 100%;
      // width: min-content;
      margin-right: 10vw;

      .image-container {
        height: 95%;
        margin-bottom: 2vh;

        img {
          height: 100%;
          object-fit: contain;  
        }
        iframe {
          background: #EEE;
          height: 100%;
          overflow: hidden;
        }
      }
       
      p {
        font-size: 2.4vh;
        text-align: right;
        margin-bottom: 0px;
      }
    }  

  }
  .images::-webkit-scrollbar {
    display: none;
  }
}







@import url(normalize.css);

