* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Uncut Sans";
  src: url("fonts/UncutSans-Regular.woff2") format("woff2");
  font-display: swap;
}

::selection {
  color: white;
  background: black;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  --bg-color: #eee;
  font-family: "Uncut Sans", sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg-color);
  font-feature-settings: "ss05" on; /* Can't use alt "Y" ss02 because it activates weird caps on the sans fallback... */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

a {
  text-decoration: none;
  color: unset;
}

a:not(.section):hover {
  text-decoration: underline;
  text-decoration-thickness: 1.6px;
  text-decoration-skip-ink: all;
  text-underline-offset: 0.22rem;
}

p {
  white-space: pre-line;
}

.content {
  padding: 50px;
}

.header {
  --initial-height: 250px;
  display: flex;
  height: var(--initial-height);
}

.sticky {
  position: fixed;
  top: 0;
  width: calc(100% - 2 * 50px);
  height: 68px;
  background-color: var(--bg-color);
}

.sticky-border {
  border-bottom: 2px solid black;
}

.home-button {
  min-width: 65%;
}

.name-button {
  white-space: nowrap;
  user-select: none;
  width: fit-content;
}

.name-text:hover {
  text-decoration: none !important;
}

.projects-button {
  min-width: 28%;
}

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  padding: 2rem 0;
  border-top: 2px solid black;
}

.info {
  display: flex;
}

.title {
  min-width: 65%;
}

.tags {
  min-width: 28%;
  padding-right: 2rem;
}

.description {
  margin-bottom: 1.8rem;
  line-height: 1.3;
}

.images {
  display: flex;
  height: 20vw;
  min-height: 0; /* weird css thing: https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size */
  margin-bottom: 2rem;
  transition: height 0.5s;
}

.fragments {
  height: 10vw;
  margin-top: 2rem;
  display: none;
}

.fragments img, .fragments video {
  height: 100%;
}

.hover .images {
  height: 22vw;
}

img,
video {
  object-fit: cover;
  max-height: 100%;
  margin-right: 25px;
  pointer-events: none;
  background-color: black;
}

.mobile-image {
  display: none;
}

.project-text {
  display: flex;
  width: 100%;
}

.project-text-paragraph {
  width: 23rem;
  font-size: 1.2rem;
  line-height: 1.25;
  margin-right: 2rem;
}

.about {
  display: flex;
  font-size: 1.2rem;
}

.about-text {
  width: 65%;
  padding-right: 1rem;
}

.about-text .paragraph {
  line-height: 1.3;
  max-width: 45ch;
}

.portrait {
  max-width: 220px;
  margin-bottom: 1rem;
}

/* painting */
.transparent-canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  pointer-events: none;
}

.pencil-toggle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-image: url("./images/other/pencil.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  filter: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.35));
  transition: .06s ease-in-out;
}

.pencil-toggle:hover {
  transform: translate(-1px, -6px);
  filter: drop-shadow(1px 6px 3px rgb(0 0 0 / 0.2));
}

@media (max-width: 1200px) {
  .images {
    height: 20vw;
  }

  .hover .images {
    height: 23vw;
  }

  .pencil-toggle {
    display: none;
  }

  .transparent-canvas {
    display: none;
  }
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  body {
    --mobile-margin: 1.5rem;
    font-size: 1.35rem;
  }

  .content {
    padding: 25px;
  }

  .header {
    --initial-height: 140px;
    justify-content: space-between;
    height: var(--initial-height);
    z-index: 1;
  }

  .sticky {
    width: calc(100% - 2 * 25px);
    height: 46px;
  }

  .projects-button {
    display: none;
    min-width: unset;
  }

  .about-page-header .projects-button {
    display: block;
  }

  .about-page-header .about-button {
    display: none;
  }

  .about {
    display: block;
  }

  .about-text {
    width: auto;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }

  .about-text p {
    padding-right: 0;
  }

  .about-title {
    font-size: 1.35rem;
  }

  .about-info {
    width: auto;
    margin-bottom: 3rem;
  }

  .about-info {
    width: auto;
    margin-bottom: 3rem;
  }

  .about-info .paragraph {
    width: auto;
  }

  .portrait {
    max-width: unset;
  }

  .section {
    padding-top: var(--mobile-margin);
    padding-bottom: 6rem;
  }

  .section:last-child {
    padding-bottom: var(--mobile-margin);
  }

  .project {
    height: auto;
  }

  .tags {
    display: none;
  }

  .year {
    display: none;
  }

  .description {
    margin-bottom: calc(var(--mobile-margin) - 0.2rem);
  }

  .images {
    height: auto;
    margin-bottom: var(--mobile-margin);
  }

  .images img:not(.main-image),
  .images video:not(.main-image) {
    display: none;
  }

  .hover .images {
    height: unset;
  }

  .mobile-image {
    display: block;
  }

  .mobile-image:not(:last-child) {
    margin-bottom: var(--mobile-margin);
  }

  .fragments {
    display: none;
  }

  img,
  video {
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .project-text {
    display: block;
  }

  .project-text-paragraph {
    width: 100%;
  }

  .project-text-paragraph:not(:last-child) {
    margin-bottom: var(--mobile-margin);
  }
}
