* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Uncut Sans";
  src: url("fonts/UncutSans-Regular.woff2") format("woff2");
  font-display: swap;
}

::selection {
  color: white;
  background: black;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Uncut Sans", sans-serif;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  font-feature-settings: "ss05" on; /* Can't use alt "Y" ss02 because it activates weird caps on the sans fallback... */
}

a {
  text-decoration: none;
  color: unset;
}

a:not(.section):hover,
a:hover .title {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-decoration-skip-ink: all;
  text-underline-offset: 0.22rem;
}

p {
  white-space: pre-line;
}

.content {
  padding: 50px;
}

.header {
  display: flex;
  height: 250px;
}

.home-button {
  min-width: 60%;
}

.name-button {
  white-space: nowrap;
  user-select: none;
}

.projects-button {
  min-width: 33%;
}

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  padding: 2rem 0;
  border-top: 0.1rem solid black;
}

.info {
  display: flex;
}

.title {
  min-width: 60%;
}

.tags {
  min-width: 33%;
}

.description {
  margin-bottom: 1rem;
  line-height: 1.3;
}

.images {
  display: flex;
  height: 300px;
  min-height: 0; /* weird css thing: https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size */
  margin-bottom: 2rem;
}

.mobile-image {
  display: none;
}

.project-text {
  display: flex;
  width: 100%;
}

.project-text-paragraph {
  width: 23rem;
  font-size: 1.1rem;
  line-height: 1.25;
  margin-right: 2rem;
}

.about {
  display: flex;
}

.about-info {
  width: 60%;
}

.paragraph {
  line-height: 1.3;
}

.portrait {
  max-width: 250px;
  margin-bottom: 0;
}

img,
video {
  object-fit: cover;
  max-height: 100%;
  margin-right: 25px;
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  body {
    --mobile-margin: 1.5rem;
    font-size: 1.2rem;
  }

  .content {
    padding: 25px;
  }

  .header {
    justify-content: space-between;
    height: 200px;
  }

  .projects-button {
    display: none;
    min-width: unset;
  }

  .about-page-header .projects-button {
    display: block;
  }

  .about-page-header .about-button {
    display: none;
  }

  .about {
    display: block;
  }

  .about-text {
    width: auto;
    margin-bottom: 3rem;
  }

  .about-info {
    width: auto;
  }

  .about-text .paragraph {
    width: auto;
  }

  .section {
    padding: var(--mobile-margin) 0;
  }

  .project {
    height: auto;
  }

  .tags {
    display: none;
  }

  .year {
    display: none;
  }

  .description {
    margin-bottom: calc(var(--mobile-margin) - .2rem);
  }

  .images {
    height: auto;
    margin-bottom: var(--mobile-margin);
  }

  .images img:not(.main-image),
  .images video:not(.main-image) {
    display: none;
  } 

  .mobile-image {
    display: block;
  }

  .mobile-image:not(:last-child){
    margin-bottom: var(--mobile-margin);
  }

  img,
  video {
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .project-text {
    display: block;
  }

  .project-text-paragraph {
    width: 100%;
  }
  
  .project-text-paragraph:not(:last-child){
    margin-bottom: var(--mobile-margin);
  }

  .scroll-button {
    display: block !important;
  }
}
